/* $background-color: #fdfdfd; */
/* This is the original color used */
/* used for links */
/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #f3f3f3;
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: 15px; }

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

/**
 * Links
 */
a {
  color: #2a7ae2;
  text-decoration: none;
  /*
      &:visited {
          color: darken($brand-color, 15%);
      }
  */ }
  a:hover {
    color: #c0c0c0;
    text-decoration: none; }

/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 15px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef; }

code {
  padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
.wrapper {
  max-width: -webkit-calc(900px - (30px * 2));
  max-width: calc(900px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px; }
  @media screen and (max-width: 900px) {
    .wrapper {
      max-width: -webkit-calc(900px - (30px));
      max-width: calc(900px - (30px));
      padding-right: 15px;
      padding-left: 15px; } }

/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Entire page
 */
body {
  overflow-y: scroll;
  overflow-x: hidden; }

body, html {
  height: 100%; }

/**
 * Page cover
 */
#cover {
  /* background: url(../img/landingpage_optimized.jpg) no-repeat top left rgb(1,2,2); */
  background: url(../img/landingpage_dna.jpg) no-repeat top left #010202;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  /* @include media-query($on-palm) {*/
  /*
   *-webkit-background-size: cover;
   *-moz-background-size: cover;
   *-o-background-size: cover;
   *background-size: cover;
   */ }
  @media all and (max-aspect-ratio: 5 / 3) {
    #cover {
      background: url(../img/landingpage_dna.jpg) no-repeat top center #010202;
      -webkit-background-size: auto 100%;
      -moz-background-size: auto 100%;
      -o-background-size: auto 100%;
      background-size: auto 100%; } }

#headline {
  background: url(../img/headline_optimized.png) no-repeat top center;
  -webkit-background-size: 25%;
  -moz-background-size: 25%;
  -o-background-size: 25%;
  background-size: 25%;
  height: 100%; }

#headline-empty {
  height: 100%; }

/* about block */
#about-block {
  /* background: #20212c; */
  /* background: #15161d; */
  background: #000000;
  color: #ffffff;
  /* a:link{color:#2a7ae2}; */
  /* This is light blue */
  /* a:visited{color:#2a7ae2} */
  /*  This is light blue */
  /* mouse over link         */ }
  #about-block a:link {
    color: #ffef99; }
  #about-block a:visited {
    color: #ffef99; }
  #about-block a:hover {
    color: #e8e8e8; }

/**
 * People page
 */
#people {
  background: url(../img/people/ICES_TGM_group_optimized.jpg) no-repeat top left #010202;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%; }
  @media all and (max-aspect-ratio: 5 / 3) {
    #people {
      background: url(../img/people/ICES_TGM_group_optimized.jpg) no-repeat top left #010202;
      -webkit-background-size: auto 100%;
      -moz-background-size: auto 100%;
      -o-background-size: auto 100%;
      background-size: auto 100%; } }

.people-title {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  color: #e0e0e0;
  text-shadow: 2px 2px 4px #000000; }
  .people-title, .people-title:visited {
    color: #e8e8e8; }

.people-icon {
  display: inline-block;
  position: relative;
  padding-left: 3px;
  padding-right: 3px;
  margin: 0px;
  margin-top: 2px;
  background: #c0c0c0;
  color: #144b92;
  border-radius: 2px; }
  .people-icon:hover {
    color: #2a7ae2; }
  .people-icon .icon-tooltip {
    display: none;
    position: absolute;
    top: 26px;
    left: 0px;
    background-color: #e0e0e0;
    color: #424242;
    border-color: #424242;
    border-style: solid;
    border-width: 0.5px;
    border-radius: 2px;
    width: auto;
    height: 20.8px;
    padding: 1px;
    padding-left: 2px;
    padding-right: 2px;
    z-index: 10000; }
  .people-icon:hover .icon-tooltip {
    display: block; }
  .people-icon > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle; }
    .people-icon > svg path {
      fill: #2a7ae2; }

/***
 * Loader image
 */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  /* background: url('../img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249); */
  background: #0b1313; }

/**
 * Anchors that correct for site header
 */
a.anchor {
  display: block;
  position: relative;
  top: -71px;
  /* min. height of site-header class */
  height: 0px;
  visibility: hidden; }

/**
 * Site header
 */
#sticky.stick {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10000; }

#sticky-phantom {
  visibility: hidden; }

.site-header {
  /*
      border-top: 5px solid $grey-color-dark;
      border-bottom: 1px solid $grey-color-light;
      */
  min-height: 56px;
  background-color: black;
  color: #e0e0e0;
  /* mouse over link */
  /*
      // Positioning context for the mobile navigation icon
      position: relative;
      */ }
  .site-header a:link {
    color: #ffef99; }
  .site-header a:visited {
    color: #ffef99; }
  .site-header a:hover {
    color: #e8e8e8; }

.site-title {
  font-size: 26px;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #e8e8e8; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #e0e0e0;
    line-height: 1.5; }
    .site-nav .page-link:not(:first-child) {
      margin-left: 20px; }
  @media screen and (max-width: 800px) {
    .site-nav {
      position: fixed;
      top: 9px;
      right: 30px;
      background-color: black;
      border: 1px solid #424242;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #e8e8e8; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px; } }

/**
 * Site footer
 */
.site-footer {
  height: 20%;
  /*border-top: 1px solid $grey-color-light;*/
  /*background-color: $grey-color-dark;*/
  background-color: #000000;
  color: #c0c0c0;
  padding: 30px 0;
  /* This makes the color of links golden */
  min-height: 0px; }
  .site-footer a:link {
    color: #ffef99; }
  .site-footer a:visited {
    color: #ffef99; }
  .site-footer a {
    color: #84b2ee; }
    .site-footer a:hover {
      color: #c0c0c0; }
  @media screen and (max-width: 800px) {
    .site-footer {
      min-height: 350px; } }

.footer-heading {
  font-size: 18px;
  color: #e0e0e0;
  margin-bottom: 15px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

@media screen and (max-width: 900px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 800px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
/**
 * Page content
 */
.page-content {
  padding: 30px 0;
  background: #f3f3f3; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none;
  text-align: justify; }
  .post-list h2 {
    font-weight: bold;
    text-align: left; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282;
  text-align: left; }

.post-link {
  display: block;
  font-size: 24px; }

.post-permalink {
  font-size: 14px;
  color: #828282;
  text-align: left; }

/* **************************************** */
/* Start of the the style for the post tags */
/* **************************************** */
.tags {
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0; }

.tags li {
  float: left; }

.tag {
  /* background: #eee; */
  background: #f3f3f3;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s; }

.tag::before {
  /* background: #fff; */
  background: #f3f3f3;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px; }

.tag::after {
  /* background: #fff; */
  background: #f3f3f3;
  border-bottom: 13px solid transparent;
  /* border-left: 10px solid #eee; */
  border-left: 10px solid #f3f3f3;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0; }

.tag:hover {
  background-color: crimson;
  color: white; }

.tag:hover::after {
  border-left-color: crimson; }

/* ************************************** */
/* End of the the style for the post tags */
/* ************************************** */
/**
 * Publication list
 */
.pub-list {
  margin-left: 0;
  list-style: none; }
  .pub-list h2 {
    text-align: justify; }
  .pub-list > li {
    /* margin-bottom: $spacing-unit / 2; */
    margin-bottom: 15px; }
  .pub-list .pub-year {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 3px;
    margin-top: 15px; }
    @media screen and (max-width: 900px) {
      .pub-list .pub-year {
        font-size: 18px; } }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px;
  font-weight: bold;
  text-align: left; }

.post-title {
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 1;
  text-align: left; }
  @media screen and (max-width: 900px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px;
  text-align: justify; }
  .post-content h2 {
    font-size: 32px;
    text-align: justify; }
    @media screen and (max-width: 900px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px;
    text-align: justify; }
    @media screen and (max-width: 900px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px;
    text-align: justify; }
    @media screen and (max-width: 900px) {
      .post-content h4 {
        font-size: 18px; } }

/**
 * Self page
 */
#self {
  background: url(../img/self_optimized.jpg) no-repeat top left #010202;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  /* @include media-query($on-palm) { */
  /*
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  */ }
  @media all and (max-aspect-ratio: 5 / 3) {
    #self {
      background: url(../img/self_optimized.jpg) no-repeat top left #010202;
      -webkit-background-size: auto 100%;
      -moz-background-size: auto 100%;
      -o-background-size: auto 100%;
      background-size: auto 100%; } }

.firstcharacter {
  float: left;
  /* color: #903; */
  /* color: #ffef99; */
  /* font-size: 75px; */
  font-size: 65px;
  /* line-height: 60px; */
  line-height: 60px;
  padding-top: 4px;
  /* padding-right: 8px; */
  padding-right: 20px;
  padding-left: 4px;
  font-family: "Edwardian Script ITC"; }

/* The following are needed for fluid video embedding aspect ratio */
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* End of fluid video embedding aspect ratio */
/* The following are needed for fluid three-column equal height layout */
.container {
  width: 100%;
  font-weight: normal;
  text-align: center;
  align-content: center;
  text-justify: newspaper;
  text-kashida-space: 50%;
  /* margin-bottom: 20px; */
  display: block;
  vertical-align: top;
  position: relative;
  float: center;
  display: block; }

.three-column {
  width: 33.33333333%;
  float: left;
  word-wrap: break-word;
  margin-bottom: 40px;
  display: inline-block; }

.two-column {
  width: 50%;
  float: left;
  word-wrap: break-word;
  margin-bottom: 40px;
  display: inline-block; }

.boxes {
  display: table;
  width: 100%;
  height: 100%; }
  @media screen and (max-width: 800px) {
    .boxes .box {
      display: block;
      width: 100%; } }

.box {
  align: left;
  display: table-cell;
  text-align: left;
  align-content: left;
  vertical-align: middle;
  float: center; }

.icon-cancer {
  width: 150px;
  height: 150px;
  margin: 0 auto 0 auto;
  background: url(../img/logos/research_tgm.png);
  background-size: 100% 100%;
  display: block;
  overflow: hidden; }
  @media screen and (max-width: 800px) {
    .icon-cancer {
      width: 50px;
      height: 50px; } }

.icon-cancer-overlay {
  width: 150px;
  height: 150px;
  background: url(../img/logos/research_tgm_bright.png);
  background-size: 100% 100%;
  display: block;
  overflow: hidden;
  /* text-align: center; */
  /* padding: 45px 0 66px 0; */
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease; }
  @media screen and (max-width: 800px) {
    .icon-cancer-overlay {
      width: 50px;
      height: 50px; } }

.icon-cancer:hover .icon-cancer-overlay {
  opacity: 1; }

.icon-biophysics {
  width: 150px;
  height: 150px;
  margin: 0 auto 0 auto;
  background: url(../img/logos/research_mb.png);
  background-size: 100% 100%;
  display: block;
  overflow: hidden; }
  @media screen and (max-width: 800px) {
    .icon-biophysics {
      width: 50px;
      height: 50px; } }

.icon-biophysics-overlay {
  width: 150px;
  height: 150px;
  background: url(../img/logos/research_mb_bright.png);
  background-size: 100% 100%;
  display: block;
  overflow: hidden;
  /* text-align: center; */
  /* padding: 45px 0 66px 0; */
  opacity: 0;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease; }
  @media screen and (max-width: 800px) {
    .icon-biophysics-overlay {
      width: 50px;
      height: 50px; } }

.icon-biophysics:hover .icon-biophysics-overlay {
  opacity: 1; }

.icon-astrophysics {
  width: 150px;
  height: 150px;
  margin: 0 auto 0 auto;
  background: url(../img/logos/research_aca.png);
  background-size: 100% 100%;
  display: block;
  overflow: hidden; }
  @media screen and (max-width: 800px) {
    .icon-astrophysics {
      width: 50px;
      height: 50px; } }

.icon-astrophysics-overlay {
  width: 150px;
  height: 150px;
  background: url(../img/logos/research_aca_bright.png);
  background-size: 100% 100%;
  display: block;
  /* text-align: center; */
  /* padding: 45px 0 66px 0; */
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease; }
  @media screen and (max-width: 800px) {
    .icon-astrophysics-overlay {
      width: 50px;
      height: 50px; } }

.icon-astrophysics:hover .icon-astrophysics-overlay {
  opacity: 1; }

.icon-nasa {
  width: 121.21212121px;
  height: 100px;
  margin: auto auto auto auto;
  background: url(../img/logos/nasa_optimized.png);
  background-size: 100% 100%;
  display: block;
  overflow: hidden; }
  @media screen and (max-width: 800px) {
    .icon-nasa {
      width: 40.40404040px;
      height: 33.33333333px; } }

.icon-nasa-overlay {
  width: 121.21212121px;
  height: 100px;
  margin: auto auto auto auto;
  background: url(../img/logos/nasa_optimized_bright.png);
  background-size: 100% 100%;
  display: block;
  /* text-align: center; */
  /* padding: 45px 0 66px 0; */
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease; }
  @media screen and (max-width: 800px) {
    .icon-nasa-overlay {
      width: 40.40404040px;
      height: 33.33333333px; } }

.icon-nasa:hover .icon-nasa-overlay {
  opacity: 1; }

.icon-googles {
  width: 100px;
  height: 100px;
  margin: 0 auto 0 auto;
  background: url(../img/logos/googles.png);
  background-size: 100% 100%;
  display: block;
  overflow: hidden; }
  @media screen and (max-width: 800px) {
    .icon-googles {
      width: 33.33333333px;
      height: 33.33333333px; } }

.icon-googles-overlay {
  height: 100px;
  background: url(../img/logos/googles_bright.png);
  background-size: 100% 100%;
  display: block;
  /* text-align: center; */
  /* padding: 45px 0 66px 0; */
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease; }
  @media screen and (max-width: 800px) {
    .icon-googles-overlay {
      width: 33.33333333px;
      height: 33.33333333px; } }

.icon-googles:hover .icon-googles-overlay {
  opacity: 1; }

.icon-arxiv {
  width: 213.19444444px;
  height: 100px;
  margin: auto auto auto auto;
  background: url(../img/logos/arxiv.png);
  background-size: 100% 100%;
  display: block;
  overflow: hidden; }
  @media screen and (max-width: 800px) {
    .icon-arxiv {
      width: 71.06481481px;
      height: 33.33333333px; } }

.icon-arxiv-overlay {
  width: 213.19444444px;
  height: 100px;
  margin: auto auto auto auto;
  background: url(../img/logos/arxiv_bright.png);
  background-size: 100% 100%;
  display: block;
  /* text-align: center; */
  /* padding: 45px 0 66px 0; */
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease; }
  @media screen and (max-width: 800px) {
    .icon-arxiv-overlay {
      width: 71.06481481px;
      height: 33.33333333px; } }

.icon-arxiv:hover .icon-arxiv-overlay {
  opacity: 1; }

.icon-biorxiv {
  width: 287.95180722px;
  height: 100px;
  margin: auto auto auto auto;
  background: url(../img/logos/bioRxiv.png);
  background-size: 100% 100%;
  display: block;
  overflow: hidden; }
  @media screen and (max-width: 800px) {
    .icon-biorxiv {
      width: 95.98393574px;
      height: 33.33333333px; } }

.icon-biorxiv-overlay {
  width: 287.95180722px;
  height: 100px;
  margin: auto auto auto auto;
  background: url(../img/logos/bioRxiv_bright.png);
  background-size: 100% 100%;
  display: block;
  /* text-align: center; */
  /* padding: 45px 0 66px 0; */
  opacity: 0;
  overflow: hidden;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease; }
  @media screen and (max-width: 800px) {
    .icon-biorxiv-overlay {
      width: 95.98393574px;
      height: 33.33333333px; } }

.icon-biorxiv:hover .icon-biorxiv-overlay {
  opacity: 1; }

/**
 * Syntax highlighting styles
 */
.highlight {
  background: #fff; }
  .highlight .c {
    color: #998;
    font-style: italic; }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2; }
  .highlight .k {
    font-weight: bold; }
  .highlight .o {
    font-weight: bold; }
  .highlight .cm {
    color: #998;
    font-style: italic; }
  .highlight .cp {
    color: #999;
    font-weight: bold; }
  .highlight .c1 {
    color: #998;
    font-style: italic; }
  .highlight .cs {
    color: #999;
    font-weight: bold;
    font-style: italic; }
  .highlight .gd {
    color: #000;
    background-color: #fdd; }
  .highlight .gd .x {
    color: #000;
    background-color: #faa; }
  .highlight .ge {
    font-style: italic; }
  .highlight .gr {
    color: #a00; }
  .highlight .gh {
    color: #999; }
  .highlight .gi {
    color: #000;
    background-color: #dfd; }
  .highlight .gi .x {
    color: #000;
    background-color: #afa; }
  .highlight .go {
    color: #888; }
  .highlight .gp {
    color: #555; }
  .highlight .gs {
    font-weight: bold; }
  .highlight .gu {
    color: #aaa; }
  .highlight .gt {
    color: #a00; }
  .highlight .kc {
    font-weight: bold; }
  .highlight .kd {
    font-weight: bold; }
  .highlight .kp {
    font-weight: bold; }
  .highlight .kr {
    font-weight: bold; }
  .highlight .kt {
    color: #458;
    font-weight: bold; }
  .highlight .m {
    color: #099; }
  .highlight .s {
    color: #d14; }
  .highlight .na {
    color: #008080; }
  .highlight .nb {
    color: #0086B3; }
  .highlight .nc {
    color: #458;
    font-weight: bold; }
  .highlight .no {
    color: #008080; }
  .highlight .ni {
    color: #800080; }
  .highlight .ne {
    color: #900;
    font-weight: bold; }
  .highlight .nf {
    color: #900;
    font-weight: bold; }
  .highlight .nn {
    color: #555; }
  .highlight .nt {
    color: #000080; }
  .highlight .nv {
    color: #008080; }
  .highlight .ow {
    font-weight: bold; }
  .highlight .w {
    color: #bbb; }
  .highlight .mf {
    color: #099; }
  .highlight .mh {
    color: #099; }
  .highlight .mi {
    color: #099; }
  .highlight .mo {
    color: #099; }
  .highlight .sb {
    color: #d14; }
  .highlight .sc {
    color: #d14; }
  .highlight .sd {
    color: #d14; }
  .highlight .s2 {
    color: #d14; }
  .highlight .se {
    color: #d14; }
  .highlight .sh {
    color: #d14; }
  .highlight .si {
    color: #d14; }
  .highlight .sx {
    color: #d14; }
  .highlight .sr {
    color: #009926; }
  .highlight .s1 {
    color: #d14; }
  .highlight .ss {
    color: #990073; }
  .highlight .bp {
    color: #999; }
  .highlight .vc {
    color: #008080; }
  .highlight .vg {
    color: #008080; }
  .highlight .vi {
    color: #008080; }
  .highlight .il {
    color: #099; }
