---
layout: cover
---

<div class="post">
  
  <a class="anchor" id="news">News</a>
  <h1 class="post-title">News: Research, Teaching, Events, Ideas</h1>
  
  <a href="shahmoradi.org/research" class="tag">research</a>&nbsp;&nbsp;&nbsp;<a href="shahmoradi.org/teaching" class="tag">teaching</a>&nbsp;&nbsp;&nbsp;<a href="shahmoradi.org/self" class="tag">ideas</a>&nbsp;&nbsp;&nbsp;<a href="shahmoradi.org/self" class="tag">events</a>&nbsp;&nbsp;&nbsp;<a href="shahmoradi.org/self" class="tag">self</a><br><br><br>

  <ul class="post-list">
    {% for item in site.posts limit:4 %}
      <li>
        <span class="post-meta">{{ item.date | date: "%b %-d, %Y" }}</span>

        <h2>
          {{ item.title }}
        </h2>
        {% for tag in post.tags %}
          <span class="tag">{{ tag }}&nbsp;&nbsp;</span>
        {% endfor %}
        {{ item.content }}
      </li>
    {% endfor %}
  </ul>
  
  <a href="{{ site.baseurl }}/past_news/">Older News</a>

</div>
