---
layout: people
title: People
permalink: /people/
---
{% include icons.html %}

<div class="post">
  
  <article class="post-content">
  <p> <span style="font-weight:normal; font-size:15pt; font-family:Times New Roman,sans-serif; text-align:justify; text-justify:newspaper; text-kashida-space:50%"> Throughout my scientific life, I have been blessed to meet some of the greatest minds and brightest contemporary scientists in the world. Below is a list of those whom I have also had the honor of either working under their directions or collaborating with them presently or at some point in the past.<br></span></p>
  </article>
  
  <h1 class="post-title">Current</h1>

  <ul class="post-list">
    {% for person in site.data.current_members %}
      <li>
        <strong>{{ person.name }}</strong><br/>
        {{ person.role }}{% if person.joined %},
          <b>Relationship:</b>{{  person.relationship }} ({{ person.joined }}–present)
        {% endif %}<br/>
        {% if person.history %}
          {{ person.history }}<br/>
        {% endif %}
        {% if person.relationship %}
          <br/><b>Relationship:</b>
          <!-- These people are not my students, so no need for their current URL
          {% if person.url %}
            <a href="{{ person.url }}">{{ person.relationship }}</a>
          {% else %} -->
            {{  person.relationship }}
          <!-- {% endif %} -->
        {% endif %}
        {% if person.url %}
          <a href="{{ person.url }}" class="people-icon">
            <svg>
              <use xlink:href="#svg-home-icon"/>
            </svg>
            <div class="icon-tooltip"><p>Profile</p></div>
          </a> 
        {% endif %}
        {% if person.pubs %}
          <a href="{{ person.pubs }}" class="people-icon">
            <svg>
              <use xlink:href="#svg-google-scholar-icon"/>
            </svg>
            <div class="icon-tooltip"><p>Google&nbsp;Scholar</p></div>
          </a> 
        {% endif %}
        {% if person.blog %}
          <a href="{{ person.blog }}" class="people-icon">
            <svg>
              <use xlink:href="#svg-blog-icon"/>
            </svg> 
            <div class="icon-tooltip"><p>more information</p></div>         
          </a> 
        {% endif %}
        {% if person.github %}
          <a href="https://github.com/{{ person.github }}" class="people-icon">
            <svg>
              <use xlink:href="#svg-github-icon"/>
            </svg> 
            <div class="icon-tooltip"><p>Github</p></div>         
          </a> 
        {% endif %}
        
      </li>
    {% endfor %}
  </ul>
  
  <h1 class="post-title">Past</h1>

  <ul class="post-list">
    {% for person in site.data.past_members %}
      <li>
        <strong>{{ person.name }}</strong>
        <br/>{{ person.role }}, 
        {% if person.joined == person.left %}
          {{ person.left }}
        {% else %}
          {{ person.joined }}–{{ person.left }}
        {% endif %}
        {% if person.relationship %}
          <br/><b>Relationship:</b>
          <!-- These people are not my students, so no need for their current URL
          {% if person.url %}
            <a href="{{ person.url }}">{{ person.relationship }}</a>
          {% else %} -->
            {{  person.relationship }}
          <!-- {% endif %} -->
        {% endif %}
      </li>
    {% endfor %}
  </ul>
 
</div>
