---
layout: people
title: People
permalink: /people/
---
{% include icons.html %}

<div class="post">
  
  <article class="post-content">
  <hr><span style="color:rgb(7,55,99)"><br>
    </span>
    <div style="text-align:center"><span style="color:rgb(7,55,99)"><i><span style="font-family:times new roman,serif">If I have seen further, it is by standing on the shoulders of giants<span>  -  </span>Isaac Newton</span></i></font><br>
    </span> </div>
    <span style="color:rgb(7,55,99)"><br>
  </span><hr><br>
  <p> <span style="font-weight:normal; font-size:15pt; font-family:Times New Roman,sans-serif; text-justify:newspaper; text-kashida-space:50%"> <span style="text-align:justify"> Throughout my scientific life, I have been blessed to meet some of the greatest minds and brightest contemporary scientists in the world. Below is a list of scientists whom I have also had the honor of either working under their directions or collaborating with them presently or at some point in the past.<hr></span></span></p>
  </article>
  
<!-- Post title not needed at the moment
  <h1 class="post-title">Scientific / Academic Collaborations</h1>
-->

  <ul class="post-list">
    {% for person in site.data.current_members %}
      <li>
        {% if person.image %}
          <br/><IMG SRC={{ person.image }} > <br>
        {% endif %}<br/>
        <strong>{{ person.name }}</strong>
        {{ person.role }}{% if person.joined %},
          {{ person.joined }}–present
        {% endif %}<br/>
        {% if person.history %}
          {{ person.history }}<br/>
        {% endif %}
        {% if person.relationship %}
          <b>Relationship: </b>{{  person.relationship }}<br/>
          <!-- These people are not my students, so no need for their current URL
          {% if person.url %}
            <a target="_blank" href="{{ person.url }}">{{ person.relationship }}</a>
          {% else %}
            {{  person.relationship }}
          {% endif %} -->
        {% endif %}
        {% if person.url %}
          <a target="_blank" href="{{ person.url }}" class="people-icon">
            <svg>
              <use xlink:href="#svg-home-icon"/>
            </svg>
            <div class="icon-tooltip"><p>Profile</p></div>
          </a> 
        {% endif %}
        {% if person.pubs %}
          <a target="_blank" href="{{ person.pubs }}" class="people-icon">
            <svg>
              <use xlink:href="#svg-google-scholar-icon"/>
            </svg>
            <div class="icon-tooltip"><p>Publications</p></div>
          </a> 
        {% endif %}
        {% if person.blog %}
          <a target="_blank" href="{{ person.blog }}" class="people-icon">
            <svg>
              <use xlink:href="#svg-blog-icon"/>
            </svg> 
            <div class="icon-tooltip"><p>more&nbsp;information</p></div>         
          </a> 
        {% endif %}
        {% if person.github %}
          <a target="_blank" href="https://github.com/{{ person.github }}" class="people-icon">
            <svg>
              <use xlink:href="#svg-github-icon"/>
            </svg> 
            <div class="icon-tooltip"><p>Github</p></div>         
          </a> 
        {% endif %}
        
      </li>
    {% endfor %}
  </ul>

<br/>
<br/>
<!-- This section is not needed at the moment  

  <h1 class="post-title">Other Influential People </h1>

  <ul class="post-list">
    {% for person in site.data.past_members %}
      <li>
        <strong>{{ person.name }}</strong>
        <br/>{{ person.role }}, 
        {% if person.joined == person.left %}
          {{ person.left }}
        {% else %}
          {{ person.joined }}–{{ person.left }}
        {% endif %}
        {% if person.relationship %}
          <b>Relationship:</b>
          {% if person.url %}
            <a target="_blank" href="{{ person.url }}">{{ person.relationship }}</a>
          {% else %}
            {{  person.relationship }}
          <!-- {% endif %}
        {% endif %}
      </li>
    {% endfor %}
  </ul>
 
</div>

-->