<!DOCTYPE html>
<html>

  {% include head.html %}
   
  <body id="people">
    <div class="loader"></div>

    <div id="headline-empty">
      <h1 class="people-title">&nbsp;&nbsp;</h1>
    </div>
    
    {% include header.html %}

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  
  <!-- Start of StatCounter Code for Default Guide -->
  <script type="text/javascript">
    var sc_project=10611821; 
    var sc_invisible=0; 
    var sc_security="902e4bb4"; 
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="shopify visitor
    statistics" href="http://statcounter.com/shopify/"
    target="_blank"><img class="statcounter"
    src="http://c.statcounter.com/10611821/0/902e4bb4/0/"
    alt="shopify visitor statistics"></a></div></noscript>
  <!-- End of StatCounter Code for Default Guide -->
  
  </body>
</html>
