<!DOCTYPE html>
<html>

  {% include head.html %}
   
  <body id="people">
    <div class="loader"></div>

    <div id="headline-empty">
      <h1 class="people-title">&nbsp;&nbsp;</h1>
    </div>
    
    {% include header.html %}


    <div class="page-content" id="about-block">
    <div class="wrapper">
      <a class="anchor" id="publications">Publications</a>
      <div class="post">
      
        <hr><br>
        <div style="text-align:center"><i><span style="font-weight:normal; font-size:15pt; font-family:Times New Roman,sans-serif;">If I have seen further, it is by standing on the shoulders of giants&nbsp;&nbsp;&nbsp;&nbsp;Isaac Newton</span></i><br></div>
        <br><hr>
        <br><br>

        <header class="post-header">
           <h1 class="post-title">People</h1>
        </header>
 
        <article class="post-content">
                    
            <span style="font-weight:normal; font-size:15pt; font-family:Times New Roman,sans-serif; text-align:justify; text-justify:newspaper; text-kashida-space:50%">
            Throughout my scientific life, I have been blessed to meet some of the greatest minds and brightest contemporary scientists in the world. Below is a list of scientists whom I have also had the honor of either working under their directions or collaborating with them presently or at some point in the past.<br><br>
            
            <a href="http://academictree.org/evolution/tree.php?pid=87051" target="_blank">Academic Tree</a><br/><br/>
            <a href="http://academictree.org/evolution/distance.php?pid1=-2&pid2=87051" target="_blank">Oldest Academic Ancestor</a><br/>
            </span>
            <br>

        </article>
      </div>

    </div>
    </div>

    <div class="page-content">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}
  
  <!-- Start of Google Analytics Code for Default Guide -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-67460905-1', 'auto');
    ga('send', 'pageview');
  </script>
  <!-- End of Google Analytics Code for Default Guide -->
  
  <!-- Start of StatCounter Code for Default Guide -->
  <script type="text/javascript">
    var sc_project=10611821; 
    var sc_invisible=1; 
    var sc_security="902e4bb4"; 
    var scJsHost = (("https:" == document.location.protocol) ?
    "https://secure." : "http://www.");
    document.write("<sc"+"ript type='text/javascript' src='" +
    scJsHost+
    "statcounter.com/counter/counter.js'></"+"script>");
    </script>
    <noscript><div class="statcounter"><a title="shopify visitor
    statistics" href="http://statcounter.com/shopify/"
    target="_blank"><img class="statcounter"
    src="http://c.statcounter.com/10611821/0/902e4bb4/0/"
    alt="shopify visitor statistics"></a></div></noscript>
  <!-- End of StatCounter Code for Default Guide -->
  
  </body>
</html>
